/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

#cboxWrapper {
    max-width: none;
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
}


#cboxContent {
    position: relative;
}

#cboxLoadedContent {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#cboxTitle {
    margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
    z-index:99999;
}

.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
    max-width: none;
    -ms-interpolation-mode: bicubic;
}

.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

#cboxContent {
    background: #fff;
    overflow: hidden;
}

.cboxIframe {
    background: #fff;
}

#cboxError {
    padding: 50px;
    border: 1px solid #ccc;
}

#cboxTitle {
    position: absolute;
    bottom: 4px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #949494;
}

#cboxCurrent /*{position:absolute; bottom:4px; left:58px; color:#949494;}*/
#cboxLoadingOverlay {
    background: url(images/loading_background.png) no-repeat center center;
}

#cboxLoadingGraphic {
    background: url(images/loading.gif) no-repeat center center;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    background: none;
}

    /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
    #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
        outline: 0;
    }

#cboxSlideshow {
    position: absolute;
    bottom: 4px;
    right: 30px;
    color: #0092ef;
}

#cboxPrevious {
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(images/controls.png) no-repeat -75px 0;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
}

    #cboxPrevious:hover {
        background-position: -75px -25px;
    }

#cboxNext {
    position: absolute;
    bottom: 0;
    left: 27px;
    background: url(images/controls.png) no-repeat -50px 0;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
}

    #cboxNext:hover {
        background-position: -50px -25px;
    }

#cboxClose {
    position: absolute;
    z-index: 99999;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
  border-radius: 30px;
  background-color: #C0392B;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNy44IDM3LjgiPjxwb2x5Z29uIHBvaW50cz0iMzAuNDggMCAxOC45IDExLjU4IDcuMzIgMCAwIDcuMzIgMTEuNTggMTguOSAwIDMwLjQ4IDcuMzIgMzcuOCAxOC45IDI2LjIxIDMwLjQ4IDM3LjggMzcuOCAzMC40OCAyNi4yMSAxOC45IDM3LjggNy4zMiAzMC40OCAwIiBzdHlsZT0iZmlsbDojZmZmIi8+PC9zdmc+);
  background-size: 15px auto;
  background-repeat: no-repeat;
  background-position: center center;
    margin-top: -215px;
  margin-left: -435px;
}

    #cboxClose:hover {
  background-color: #962D22;
    }
