




#title{
    background:transparent url(../images/title.png) 0 0 scroll;
    position:absolute;
    top:0px;
    left:0px;
    height:62px;
    width:334px;
}

#download{
    position:absolute;
    top:132px;
    left:30px;
    text-decoration:none;
    font-size:12px;
    color:#999;
    font-family:arial, sans-serif;
}

#download:hover{
    color:#fff;
}