@charset "utf-8";

@font-face {
  font-family: 'Makgeolli';
  src: url('fon/Makgeolli.eot');
  src: url('font/Makgeolli.eot?#iefix') format('embedded-opentype'), /* ie 6,7,8 적용 embedded-opentype ie 8,9 적용 */
       url('font/Makgeolli.woff') format('woff'), /* ie 제외한 나머지 */
       url('font/Makgeolli.ttf') format('truetype'),
       url('font/Makgeolli.svg#Makgeolli') format('svg'); /*모바일브라우져를 위해서*/
  font-weight: normal;
  font-style: normal;
}