@charset "utf-8";

@font-face {
  font-family: 'MDGaesung';
  src: url('fon/MDGaesung.eot');
  src: url('font/MDGaesung.eot?#iefix') format('embedded-opentype'), /* ie 6,7,8 적용 embedded-opentype ie 8,9 적용 */
       url('font/MDGaesung.woff') format('woff'), /* ie 제외한 나머지 */
       url('font/MDGaesung.ttf') format('truetype'),
       url('font/MDGaesung.svg#MDGaesung') format('svg'); /*모바일브라우져를 위해서*/
  font-weight: normal;
  font-style: normal;
}